#container {
  font-size: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
  text-shadow: -2px 0 black, 0 2px black,
      2px 0 black, 0 -2px black
}

#minutes {
  height: 30px;
  width: 100px;
  margin: 5px;
  border-radius: 4px;
  text-align: center;
}

#start {
  padding: 3px 20px;
  background: red;
  color: white;
  height: 40px;
  border: none;
  border-bottom: 5px solid crimson;
  border-radius: 5px;
}

#time {
  font-size: 250px;
  line-height: 0.50px;	
}

#respawn {
  font-size: 100px;
  line-height: 0.50px;
}
body {
  /* Location of the image */
  background-image: url(images/lbmzoo.png);
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;
  
  /* SHORTHAND CSS NOTATION
   * background: url(lbmzoo.png) center center cover no-repeat fixed;
   */
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    background-image: url(images/lbmzoo.png);
  }
	}
